@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

h1 {
    --font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    --font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: x-large;
}
h3 {
    --font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: large;
}

h4 {
    --font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    font-size: medium;
}

p {
    --font-family: "Libre Franklin", sans-serif !important;
}

.styled-left {
    margin: 40px 40px 40px -40px
}
.styled-right {
    margin: 40px -40px 40px 40px
}
